.full-screen-services {
  background: linear-gradient(to right, rgba(25,42,86,.5), rgba(25,42,86,.5)) ,url('../../imgs/books-stack.jpg') no-repeat;
  height: 400px;
  background-position: left;
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .text {
      width: 40%;
      min-width: 300px;
      max-width: 500px;
      padding: 2rem;
      background: #111;
      color: #fff;
      h2 {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
      }
      h4 {
        max-width: 300px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 1.125rem;
      }
    }
  }
}

@media only screen and (max-width: 665px) {
  .full-screen-services {
    height: calc(100vh - 50px);
    .container {
      justify-content: center;
    }
  }
}