.price-comparison {
  margin: 5rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 755px) {
  .price-comparison {
    .container {
      flex-direction: column;
    }
  }
}