.counselor-info {
  padding: 5rem 0;
  background: #111;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: #fff;
      margin-bottom: 1.5rem;
    }
    h4 {
      color: #fff;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 560px) {
  .counselor-info {
    .container {
      h2 {
        // font-size: 1.25rem;
        text-align: center;
      }
      h4 {
        text-align: center;
      }
    }
  }
}