.navbar {
  height: 50px;
  background: #222;
  color: #fff;
  padding: 2rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-group {
      display: flex;
      a {
        .logo {
          margin-right: 2rem;
          cursor: pointer;
          color: #fff;
        }
      }
      nav {
        margin: auto 0;
        ul {
          display: flex;
          li {
            &:not(:last-child) {
              margin-right: 2rem;
            }
            a {
              color: #fff;
              &:hover {
                filter: brightness(75%);
              }
            }
          }
        }
      }
    }
  }
  .menu-burger {
    display: none;
    .line {
      width: 25px;
      height: 2px;
      background: #fff;
      &:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .navbar {
    .container {
      .left-group {
        nav {
          display: none;
        }
      }
      .nav-cta {
        display: none;
      }
      .menu-burger {
        display: block;
        cursor: pointer;
      }
    }
  }
}