.footer {
  padding: 1rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    .side-a {
      h2 {
        margin-bottom: 1rem;
        line-height: 1;
      }
      .icons {
        svg {
          height: 35px;
          width: 35px;
          cursor: pointer;
          transition: transform 70ms ease-in;
          &:not(:last-child) {
            margin-right: 1rem;
          }
          &:hover {
            opacity: .5;
          }
          &:active {
            transform: scale(.85);
          }
        }
      }
    }
    .side-b {
      ul {
        display: flex;
        li {
          &:not(:last-child) {
            margin-right: 1rem;
          }
          &:hover {
            opacity: .5;
          }
          a {
            color: #111;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .footer {
    .container {
      .side-a {

      }
      .side-b {
        ul {
          flex-direction: column;
          li {
            margin-bottom: .5rem;
            &:not(:last-child) {
              margin-right: 0rem;
            }
          }
        }
      }
    }
  }
}