.full-screen-home {
  height: 400px;
  background: darkblue;
  // background: linear-gradient(to right, rgba(35,57,93,.8), rgba(35,57,93,.8)) ,url('../../imgs/raise-hand.jpg');
  background: linear-gradient(to right, rgba(25,42,86,.85), rgba(25,42,86,.85)) ,url('../../imgs/raise-hand.jpg');
  background-position: center;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fefefe;
    max-width: 600px;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    h4 {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      font-weight: 400;
    }
    .btn-group {
      & div:nth-of-type(1) {
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 665px) {
  .full-screen-home {
    .container {
      h2 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: .9rem;
      }
      .btn-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & div:nth-of-type(1) {
          margin-right: 0rem;
          // margin-bottom: 1rem;
        }
      }
    }
  }
}