.testimonial {
  padding: 3rem 0;
  background: #F5F5F5;
  .container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .testimonial-content {
      display: flex;
      align-items: center;
      max-width: 800px;
      margin-bottom: 1rem;
      h4 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        .q-right {
          margin-right: .25rem;
        }
        .q-left {
          margin-left: .25rem;
        }
        span {
          svg {
            height:20px;
            width: 20px;
          }
        }
      }
      img {
        width: 175px;
        height: 175px;
        border-radius: 200px;
        object-fit: cover;
        margin-right: 2rem;
      }
      .text {

      }
    }
  }
}

@media only screen and (max-width: 615px) {
  .testimonial {
    .container {
      .testimonial-content {
        flex-direction: column;
        img {
          margin-bottom: 1rem;
        }
      }
    }
  }
}